<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cus_fullName %><br>
    <%= f.text_field :cus_fullName %>
  </div>
  <div class="field">
    <%= f.label :cus_address %><br>
    <%= f.text_field :cus_address %>
  </div>
  <div class="field">
    <%= f.label :cus_phone %><br>
    <%= f.text_field :cus_phone %>
  </div>
  <div class="field">
    <%= f.label :cus_email %><br>
    <%= f.text_field :cus_email %>
  </div>
  <div class="field">
    <%= f.label :cus_country %><br>
    <%= f.text_field :cus_country %>
  </div>
  <div class="field">
    <%= f.label :cus_city %><br>
    <%= f.text_field :cus_city %>
  </div>
  <div class="field">
    <%= f.label :cus_loginName %><br>
    <%= f.text_field :cus_loginName %>
  </div>
  <div class="field">
    <%= f.label :cus_loginPassword %><br>
    <%= f.text_field :cus_loginPassword %>
  </div>
  <div class="field">
    <%= f.label :cus_confirmPassword %><br>
    <%= f.text_field :cus_confirmPassword %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
