<p id="notice"><%= notice %></p>

<p>
  <strong>Prod book name:</strong>
  <%= @product.prod_book_name %>
</p>

<p>
  <strong>Prod book price:</strong>
  <%= @product.prod_book_price %>
</p>

<p>
  <strong>Prod book isbn:</strong>
  <%= @product.prod_book_isbn %>
</p>

<p>
  <strong>Prod book author:</strong>
  <%= @product.prod_book_author %>
</p>

<p>
  <strong>Prod book publicationdate:</strong>
  <%= @product.prod_book_publicationDate %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
